system/
log/*.log
db/schema.rb
db/*.sqlite3
.DS_Store
.loadpath
.project
.idea
Thumbs.db
config/database.yml
db/*.sql
db/schema.rb
log/*.log
tmp/*
.tmp*
*.tmp_*
.project
.gitk*
log/
log/searchd.development.pid
db/schema.rb
*~
*.sql
public/googleab2a6928df3d8700.html
lib/Copy of google_contacts.rb
test/
spec/

