%div#tab-area{'data-busy'=>""}
  %div#for-me-tab.selected{'data-tasks'=>"'for_me'"}
    %a.for-me.hand-pointer For me
  %div#from-me-tab{'data-tasks'=>"'from_me'"}
    %a.from-me.hand-pointer From me
  %div#my-hive-tab{'data-tasks'=>"'my_hives'"}
    %a.my-hive.hand-pointer My Hive
  %div#notifications-tab{'data-tasks'=>"'notifications'"}
    %a.notifications.hand-pointer Notifications
    %span.close-tab
