<div id="tab1" class="tab_content">
  <div class="tab-head">
    <div class="col-1">
      <strong><%= pluralize(@accepted_friends.count, "Connection") %></strong>
    </div>
    <div class="col-2">
      <a href="#"></a> <a href="#">A</a> <span>B</span> <span>C</span> <a href="#">D</a> <a href="#">E</a> <span>F</span> <span>G</span> <a href="#">H</a> <a href="#">I</a> <a href="#">J</a> <span>K</span> <span>L</span> <span>M</span> <a href="#">N</a> <span>O</span> <span>P</span> <a href="#">Q</a> <a href="#">R</a> <span>S</span> <span>T</span> <span>U</span> <span>V</span> <span>W</span> <span>X</span> <span>Y</span> <span>Z</span> <span>#</span>
    </div>
    <div class="col-3">
      <div class="search">
        <div class="search-box">
          <input type="text" class="search-text" value="Search ..." /> <input type="submit" value="Go" class="search-btn" />
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="h-sep"></div>
  </div>
  
  <%= render 'friendships', :user => @user, :friends => @accepted_friends, :user_task_lists => @user_task_lists, :next_page => @next_page %>  
</div>