<div class="step-2">
  <div class="success">
    Congratulation !! 5 Connection Requests had been sent.
  </div>
  <div class="title">
    Step 2: Lets invite non Cheever to Join it.
  </div>
  <div class="people-grid">
    <div class="grid-head">
      <div class="left">
        <input type="button" value="Select All" class="btn-select-all" />
      </div>
      <div class="right">
        <span class="selected-contacts">Permission to access</span>
      </div>
      <div class="clear"></div>
    </div>
    <div class="grid-rows scrollpane">
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="name"><a href="#">Ahmed Fathi</a></span> <span class="email"><a href="#">ahmed@gmail.com</a></span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li>
                      <input type="checkbox" checked="checked" />General
                    </li>
                    <li>
                      <input type="checkbox" /> Friends
                    </li>
                    <li>
                      <input type="checkbox" checked="checked" /> Work
                    </li>
                    <li>
                      <input type="checkbox" /> Family
                    </li>
                    <li>
                      <input type="checkbox" /> Personal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-foot">
      <div class="left">
        <input type="button" value="Select All" class="btn-select-all" />
      </div>
      <div class="right">
        <input type="button" value="Send invitation" class="send-inv" disabled="disabled" /> <span class="selected-contacts">5 Contacts had been selected</span>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         