<div class="step-1">
  <div class="title">
    Cheeve found 24 cheevers in you Gmail contact , Lets add them to the Hive
  </div>
  <div class="people-grid">
    <div class="grid-head">
      <div class="left">
        <input type="button" value="Select All" class="btn-select-all" />
      </div>
      <div class="right">
        <span class="selected-contacts">
          Permission to access
        </span>
      </div>
      <div class="clear"></div>
    </div>
    <div class="grid-rows scrollpane">
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="img">
            <img alt="Ahmed Fathi" src="/images/sample_people_img.jpg">
          </span>
          <span class="details">
            <span class="name"><a href="#">Ahmed Fathi</a></span>
            <span class="email">Egypt</span>
            <span class="email">59 Pending Task </span>
          </span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <span class="hd"></span>
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li><input type="checkbox" checked="checked" />General</li>
                    <li><input type="checkbox"  /> Friends</li>
                    <li><input type="checkbox" checked="checked" /> Work</li>
                    <li><input type="checkbox" /> Family</li>
                    <li><input type="checkbox" /> Personal</li>
                  </ul>
                </div>
              </div>
              <span class="ft"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="img">
            <img alt="Ahmed Fathi" src="/images/sample_people_img.jpg">
          </span>
          <span class="details">
            <span class="name"><a href="#">Ahmed Fathi</a></span>
            <span class="email">Egypt</span>
            <span class="email">59 Pending Task </span>
          </span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <span class="hd"></span>
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li><input type="checkbox" checked="checked" />General</li>
                    <li><input type="checkbox"  /> Friends</li>
                    <li><input type="checkbox" checked="checked" /> Work</li>
                    <li><input type="checkbox" /> Family</li>
                    <li><input type="checkbox" /> Personal</li>
                  </ul>
                </div>
              </div>
              <span class="ft"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="img">
            <img alt="Ahmed Fathi" src="/images/sample_people_img.jpg">
          </span>
          <span class="details">
            <span class="name"><a href="#">Ahmed Fathi</a></span>
            <span class="email">Egypt</span>
            <span class="email">59 Pending Task </span>
          </span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <span class="hd"></span>
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li><input type="checkbox" checked="checked" />General</li>
                    <li><input type="checkbox"  /> Friends</li>
                    <li><input type="checkbox" checked="checked" /> Work</li>
                    <li><input type="checkbox" /> Family</li>
                    <li><input type="checkbox" /> Personal</li>
                  </ul>
                </div>
              </div>
              <span class="ft"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="img">
            <img alt="Ahmed Fathi" src="/images/sample_people_img.jpg">
          </span>
          <span class="details">
            <span class="name"><a href="#">Ahmed Fathi</a></span>
            <span class="email">Egypt</span>
            <span class="email">59 Pending Task </span>
          </span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <span class="hd"></span>
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li><input type="checkbox" checked="checked" />General</li>
                    <li><input type="checkbox"  /> Friends</li>
                    <li><input type="checkbox" checked="checked" /> Work</li>
                    <li><input type="checkbox" /> Family</li>
                    <li><input type="checkbox" /> Personal</li>
                  </ul>
                </div>
              </div>
              <span class="ft"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="img">
            <img alt="Ahmed Fathi" src="/images/sample_people_img.jpg">
          </span>
          <span class="details">
            <span class="name"><a href="#">Ahmed Fathi</a></span>
            <span class="email">Egypt</span>
            <span class="email">59 Pending Task </span>
          </span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <span class="hd"></span>
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li><input type="checkbox" checked="checked" />General</li>
                    <li><input type="checkbox"  /> Friends</li>
                    <li><input type="checkbox" checked="checked" /> Work</li>
                    <li><input type="checkbox" /> Family</li>
                    <li><input type="checkbox" /> Personal</li>
                  </ul>
                </div>
              </div>
              <span class="ft"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <input type="checkbox" />
        </div>
        <div class="col-2">
          <span class="img">
            <img alt="Ahmed Fathi" src="/images/sample_people_img.jpg">
          </span>
          <span class="details">
            <span class="name"><a href="#">Ahmed Fathi</a></span>
            <span class="email">Egypt</span>
            <span class="email">59 Pending Task </span>
          </span>
        </div>
        <div class="col-3">
          <div class="action">
            <div class="action-dropdown">
              <span class="hd"></span>
              <div class="bg">
                <a href="#">2 List <span>(general,Work.</span></a>
                <div class="list">
                  <ul>
                    <li><input type="checkbox" checked="checked" />General</li>
                    <li><input type="checkbox"  /> Friends</li>
                    <li><input type="checkbox" checked="checked" /> Work</li>
                    <li><input type="checkbox" /> Family</li>
                    <li><input type="checkbox" /> Personal</li>
                  </ul>
                </div>
              </div>
              <span class="ft"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-foot">
      <div class="left">
        <input type="button" value="Select All" class="btn-select-all" />
      </div>
      <div class="right">
        <input type="button" value="Add to your network" class="add-to-network" disabled="disabled" />
        <span class="selected-contacts">
          5 Contacts had been selected
        </span>
      </div>
      <div class="clear"></div>
    </div>
    <div class="step-2-link">
      <a href="#">Skip to Step two and invite pople not on cheeve yet>></a>
    </div>  
  </div>
</div>
