<div class="col-1">
  <div class="show-me-select" style="position:relative;">
    <div class="show-me-text">show me</div>
    <%=news_feeds_show_me_select%>
  </div>
</div>

<div class="scope-container">
  <br />
  <span style="cursor:pointer;" id="my-connections" name="filters_scope" data="0">My Connections</span>
  <span style="cursor:pointer;" id="arround-me" name="filters_scope" data="1">Arround Me</span>
</div> 
        
<div class="clear"></div>