<div class="flash_content">
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>
</div>

<div class="form">  
  <div class="form-in">        
    <%- form_for @waiting_page, :url => root_path do |f| -%>
      <span class="image-text">Keep in Touch</span>
      
      <div class="form-input">
        <%= f.text_field :email, :value => "Email Address" %>
      </div>      
      
      <div class="form-btn">
        <%= f.submit "Notify me" %>
      </div>
      
      <div class="clear"></div>
    <%- end -%>
  </div>
</div>
